* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navigation-bar {
    display: flex;
    gap: 82px;
}

.navigation-bar-list {
    display: flex;
    list-style-type: none;
    color: #706458;
    font-family: Varta;
    font-weight: 400;
    font-size: 18px;
    gap: 24px;
    margin-top: 75px;
    text-decoration: none;
}  

.section1 {
    background-color: #F3EEE8;
    height: 900px;
    display: flex;
}

.section1 h1,
h2 {
    font-family: Merriweather;
    color: #A06056;
    ;
}

.section1 h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    font-size: 50px;
    font-weight: 300;
    margin-top: 50px;
    margin-right: 150px;
}

.section1 a {
    text-decoration: none; 
    font-family: Merriweather;
    color: #A06056;
}

.section1 h2 {
    font-weight: 700;
    font-size: 34px;
    margin-top: 66.25px;
}

.section1 .section1-left-side {
    width: 50%;
    margin-left: 150px;
    margin-right: 150px;
    
}

.section1 .section1-right-side {
    width: 50%;
    background-image: url("/assets/media/jean-philippe-delberghe-Ry9WBo3qmoc-unsplash.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.section1 .par1 {
    color: #A06056;
    font-family: varta;
    font-size: 14px;
    font-weight: 700;
    margin-top: 123.75px;
}

.section1 .par2 {
    color: #706458;
    font-family: varta;
    font-size: 22px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 313px;
    margin-right: 150px;
}
