* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*I added this min-width to frozen changes while reducing size and everything remains frozen except nav bar's burger menu. The menu is coming closer and closer to logo even when size goes under 375px. Why so?*/
body {
    min-width: 375px;
}

html,
body {
    height: 100%;
}

.navigation-bar {
    display: flex;
    gap: 82px;
    left: 150px;
    top: 66.25px;
    right: 150px;
    border-radius: 0px;
    align-items: center;
    position: absolute;
}

.navigation-bar .logo {
    font-size: 34px;
    font-family: Merriweather;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 2px;
    color: #A06056;
    text-decoration: none;
}

.navigation-bar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navigation-bar-container i {
    font-size: 24px;
    color: #FFFFFF;
}

.navigation-bar-items {
    display: flex;
    gap: 26px;
}

.navigation-bar-items a:link,
.navigation-bar-items a:visited {
    display: flex;
    list-style-type: none;
    color: #706458;
    font-family: Varta;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
}

.page-header {
    background-color: #F3EEE8;
    height: 900px;
    display: flex;
    justify-content: center;
}

.page-header-content {
    max-width: 1440px;
    width: 100%;
    padding-left: 150px;
    display: flex;
    position: relative;
}

.down-button {
    color: #A06056;
    font-size: 50px;
}

.page-header h1,
h2 {
    font-family: Merriweather;
    color: #A06056;
    ;
}

.page-header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    font-size: 50px;
    font-weight: 300;
    margin-top: 50px;
}

.logo a:link,
.logo a:visited {
    text-decoration: none;
    font-family: Merriweather;
    color: #A06056;
}

.page-header h2 {
    font-weight: 700;
    font-size: 34px;
    margin-top: 66.25px;
}

.page-header .page-header-left-side {
    width: 50%;
}

.page-header .page-header-left-side .page-header-left-side-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-right: 150px;
}

#scroll2 {
    display: none;
}

.page-header .page-header-right-side {
    width: 50%;
    background-image: url("/assets/media/jean-philippe-delberghe-Ry9WBo3qmoc-unsplash.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.page-header .par1 {
    color: #A06056;
    font-family: varta;
    font-size: 14px;
    font-weight: 700;
}

.page-header .par2 {
    color: #706458;
    font-family: varta;
    font-size: 22px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 68.5px;
}

.section2 {
    display: flex;
    justify-content: center;
    background-color: #F3EEE8;
}

.section2 .section2-content {
    max-width: 1440px;
    width: 100%;
    padding: 64px 150px 70px;
    display: flex;
    gap: 48px;
}

.section2-left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: 50%;
}

.section2-left-side h1 {
    font-family: Merriweather;
    font-weight: 300;
    font-size: 55px;
    color: #706458;
    border: none;
    line-height: 57px;
}

.section2-left-side p {
    font-family: Karla;
    font-weight: 700;
    font-size: 17px;
    color: #A06056;
    text-decoration: none;
}

.section2-left-side a:link {
    font-family: Karla;
    font-weight: 700;
    font-size: 17px;
    color: #A06056;
    text-decoration: none;
}

.section2-left-side a:visited {
    font-family: Karla;
    font-weight: 700;
    font-size: 17px;
    color: #A06056;
    text-decoration: none;
}

.section2-right-side {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section2-right-side div {
    width: 50%;
}

.section2-right-side h3 {
    border: none;
    width: 258.5px;
    height: 30px;
    color: #A06056;
    font-family: Varta;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 12px;
}

.section2-right-side p {
    border: none;
    color: #706458;
    font-family: Varta;
    font-weight: 400;
    font-size: 18px;
    margin-right: 29px;
    margin-bottom: 30px;
}

.latest-trends {
    display: flex;
    justify-content: center;
}

.latest-trends-content {
    padding: 70px 150px;
    max-width: 1440px;
    width: 100%;
}

.latest-trends-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.latest-trends-1 .latest-trends-right-side {
    display: flex;
    gap: 16px;
    flex-direction: row;
    align-items: center;
}

.latest-trends-1 input::placeholder {
    font-family: Varta;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    color: 706458;
}

.latest-trends-1 input {
    padding: 15px 15px 10px;
    width: 296px;
    border-radius: 1px;
    background-color: rgba(243, 238, 232, 0.4);
    border: none;
    color: rgba(112, 100, 88, 0.90);
    font-size: 18px;
    font-family: Varta;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.latest-trends-1 button span {
    color: #FFFFFF;
    font-family: Karla;
    font-size: 17px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.3px;
    text-align: center;

}

.latest-trends-1 button {
    height: 50px;
    border-radius: 1px;
    padding: 8px 30px 8px 30px;
    border: 0;
    background-color: #534B42;
}

.latest-trends-1 h2 {
    font-family: Merriweather;
    font-size: 35px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: -0.3px;
    text-align: left;
    color: #121212;
    padding-bottom: 15px;
}

.latest-trends-1 p {
    font-family: Varta;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(112, 100, 88, 0.90);
    padding-bottom: 10px;
}

.latest-trends-1 a:link,
.latest-trends-1 a:visited {
    font-family: Karla;
    font-size: 17px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.3px;
    text-align: left;
    color: #A06056;
    text-decoration: none;
}

.latest-trends p {
    font-family: Varta;
    font-weight: 400;
    font-size: 18px;
    color: #706458;
    line-height: 25px;
}

.latest-trends-2 {
    display: flex;
    align-items: center;
    height: 550px;
    margin-bottom: 40px;
    width: 100%;
    justify-content: space-between;
}

.latest-trends-2 div {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

/* width: 380px; of all slides I changed in % for responsive design*/
.slide1 {
    background-image: url("/assets/media/slide1.jpg");
    background-size: cover;
    width: 30%;
    height: 550px;
    flex-shrink: 0;
}

.slide2 {
    background-image: url("/assets/media/slide2.jfif");
    background-size: cover;
    width: 30%;
    height: 685px;
    flex-shrink: 0;
}

.slide3 {
    background-image: url("/assets/media/slide3.jpg");
    background-size: cover;
    width: 30%;
    height: 816px;
    flex-shrink: 0;
}

.latest-trends-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.latest-trends-3 h3 {
    width: 360px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
    font-family: Merriweather;
    font-size: 45px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: -0.3px;
    text-align: left;
    color: #534B42;
}

.latest-trends-3 p {
    height: 75px;
    width: 750px;
    left: 390px;
    top: 0px;
    border-radius: nullpx;
    font-family: Varta;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
}

.footer {
    background-color: #F3EEE8;
}

.footer-container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.footer-up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 64px;
    padding: 70px 150px 48px;
}

.footer-logo a:link,
a:visited {
    font-family: Merriweather;
    font-size: 34px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 2px;
    text-align: left;
    color: #534B42;
    text-decoration: none;
}

.footer-up h4 {
    font-family: Varta;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: #534B42;
    margin-bottom: 22px;
}

.list a {
    font-family: Varta;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    color: #706458;
    margin-bottom: 12px;
    text-decoration: none;
}

.list a:hover {
    text-decoration: underline;
}

.footer .footer-down .logos {
    align-items: center;
    gap: 24px;
}

.footer-lists {
    display: flex;
    gap: 48px;

}

.footer ul,
li {
    list-style-type: none;
    padding: 0px;
}

.footer img {
    width: 242.09px;
    height: 182px;
    margin-bottom: 9px;
}

.footer-up p {
    font-family: Varta;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    color: #706458;
    padding-bottom: 15px;
}

.blog {
    height: 100%;
    width: 235px;
    border-radius: 0px;

}

.footer-up .blog a:link,
.footer-up .blog a:visited {
    font-family: Karla;
    font-size: 17px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.30000001192092896px;
    text-align: left;
    color: #A06056;
    text-decoration: none;
    /*color attributed is not displayed*/
}

.footer-down {
    padding: 0px 48px 0px 109px;
}

.social-network {
    padding: 0px 470px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    margin: 40px auto;
}

.social-network i {
    height: 32px;
    width: 32px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    color: #706458E5;
    font-size: 32px;
}

.legals {
    font-family: Varta;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    color: #706458;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 150px 64px 150px;
    opacity: 0.7;
}

.legals ul,
li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.legals a:link,
.legals :visited {
    text-decoration: none;
    font-family: Varta;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    color: #706458;
}

.navigation-bar-container img {
    display: none;
}

@media screen and (max-width: 768px) {

    .navigation-bar-container {
        justify-content: flex-end;
    }

    .navigation-bar {
        padding: 61px 52px 0px 42px;
        /*am fost nevoita aici la padding sa mai adaug cate 20px ca sa iasa ca in design, caci cu acele paddings nu se primea vizual ca in design. E ok asa?*/
        width: 100%;
        height: 45px;
        left: 0px;
        right: 0px;
        top: 0px;
        gap: 0px;
    }

    .navigation-bar-container img {
        display: flex;
        justify-content: space-between;
        text-align: end;
    }

    .navigation-bar-container .fa-solid {
        display: none;
    }

    .navigation-bar .logo {
        color: var(--color-color-white, #FFF);
    }

    .page-header-content,
    .section2 .section2-content,
    .latest-trends-content,
    .footer-up,
    .footer-down,
    .legals {
        padding: 0px;
    }

    .page-header-right-side {
        display: none;
    }

    .page-header .page-header-left-side {
        background-image: url("/assets/media/jean-philippe-delberghe-Ry9WBo3qmoc-unsplash.jpg");
        background-size: cover;
        background-position: center;
        padding: 25px;
        width: 100%;
    }

    .navigation-bar-items {
        display: none;
    }

    .fa-solid {
        display: none;
    }

    .page-header .par1,
    .page-header .par2 {
        color: white;
        font-size: 18px;
        text-align: center;
    }

    .page-header-left-side-container h1 {
        color: white;
        font-size: 35px;
        text-align: center;
    }

    .page-header .page-header-left-side .page-header-left-side-container {
        justify-content: center;
        padding-right: 0px;
        text-align: center;
    }

    #scroll1 {
        display: none;
    }

    #scroll2 {
        display: flex;
        width: 50px;
        height: 50px;
        padding: 20px 17px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 100px;
        border: 2px solid var(--color-color-white, #FFF);
        margin: 0 auto;
    }

    .section2 .section2-content {
        display: flex;
        flex-direction: column;
        padding: 48px 32px;
    }

    .section2-left-side,
    .section2-right-side {
        width: 100%;
    }

    .section2-left-side h1 {
        font-size: 35px;
        font-family: Merriweather;
        line-height: 40px;
        letter-spacing: -0.3px;
    }

    .section2-right-side {
        display: flex;
        flex-direction: column;
    }

    .section2-right-side div {
        width: 100%;
    }

    .latest-trends-content {
        padding: 48px 32px;
    }

    .latest-trends-content,
    .latest-trends-1,
    .latest-trends-2,
    .latest-trends-3 {
        display: block;
    }

    .latest-trends .latest-trends-1 {
        order: 1;
    }

    .latest-trends .latest-trends-2 {
        order: 3;
    }

   .latest-trends .latest-trends-3 {
        order: 2;
    }

    .latest-trends-1 {
        margin-bottom: 0px;
    }

    .latest-trends-1 button {
        margin-bottom: 64px;
    }

    .latest-trends-1 form {
        margin-top: 32px;
    }

    .latest-trends-1 .latest-trends-right-side {
        display: initial;
        align-items: center;
        margin-top: 32px;
        margin-bottom: 64px;
        gap: 0px;
    }

    .latest-trends-1 input::placeholder {
        font-family: Varta;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0px;
        text-align: left;
        color: 706458;
    }

    .latest-trends-1 input {
        display: flex;
        padding: 12px 15px;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
        border: none;
        border-radius: 1px;
        background: rgba(243, 238, 232, 0.30);
        width: 311px;
    }

    .latest-trends-1 button span {
        color: #FFF;
        font-size: 17px;
        font-family: Karla;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0.3px;

    }

    .latest-trends-1 button {
        display: flex;
        width: 311px;
        height: 50px;
        padding: 12px 30px 13px 30px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 1px;
        background: var(--brown-dark, #534B42);
    }

    .latest-trends-2 div {
        width: 100%;
        height: 200px;
        background-size: cover;
        background-position: center;
        margin-bottom: 20px;
    }

    .latest-trends-2 {
        height: auto;
    }

    /*how to swap section 2 with 3 in latest trends?*/

    .latest-trends-3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }

    .latest-trends-3 p {
        width: 100%;
        height: 100%;
    }

    .footer {
        padding: 48px 32px;
        align-items: center;
        gap: 40px;
    }

    .footer-logo {
        margin: 0 auto;
    }

    .footer-up,
    .footer-lists {
        flex-direction: column;
        gap: 40px;
    }

    .blog {
        width: 100%;
    }
    
    .blog img {
        width: 307px;
        height: 192px;
        flex-shrink: 0;
    }

    .social-network {
        padding: 0px;
    }

    .legals {
        flex-direction: column-reverse;
        gap: 32px;
    }

    .legals ul,
    li {
        justify-content: flex-start;
    }


}